---
import Baselayout from "../layout/baselayout.astro"
import { Icon } from "astro-icon/components";
---
<Baselayout title="About Me">
	<header class="text-center m-6">
	<h4>Sorry, this page is not finished yet :(</h4>
	<p class="flex justify-center items-end">Work in progress... <Icon name="material-symbols-light:engineering-outline-rounded" size={45} /></p>
	</header>
</Baselayout>