---

let year = new Date().getFullYear();
---
<footer class="hidden sm:mt-auto sm:stikcky bottom-0 sm:w-full sm:flex sm:flex-col clear-both sm:align-center sm:py-6 sm:bg-stone-900 sm:text-center sm:text-stone-400">
    <p class="text-xs">{year} &copy; All rights reserved.</p>
    <p class="text-xs"> Website made by Janek Pasterzak using Astro framework.</p>
</footer>