---
import { Icon } from 'astro-icon/components';
import "../styles/navbar.css";
---
<nav class="hidden sm:sticky sm:top-0 sm:w-full sm:flex sm:justify-center clear-both sm:py-4 sm:border-b sm:text-xl bg-white sm:text-zinc-600 shadow">
    <a class="nav-links" href="/">Home</a>
    <a class="nav-links" href="/articles">Articles</a>
    <a class="nav-links" href="/about">About Me</a>
</nav>