---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import NonMobileNav from "../components/NonMobileNav.astro";
const {title} = Astro.props;
import "../styles/global.css";
---
<html lang="en" class="sm:h-dvh">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="sm:h-full h-screen flex flex-col items-center sm:flex sm:flex-col sm:items-center">
		<NonMobileNav />
        <div>
            <slot />
        </div>
		<Navbar />
        <Footer />
	</body>
</html>